body{
font-family: Arial, sans-serif;
margin:0;
background:#f4f4f4;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
align-items:center;
background:#222;
padding:20px;
color:white;
}

.logo{
font-size:24px;
}

.menu a{
color:white;
margin-left:20px;
text-decoration:none;
}

.menu a:hover{
color:#00adb5;
}

/* HERO */

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:60px;
background:white;
}

.hero-text{
max-width:500px;
}

.hero-text h2{
font-size:40px;
}

.btn{
display:inline-block;
margin-top:20px;
padding:10px 20px;
background:#00adb5;
color:white;
text-decoration:none;
border-radius:5px;
}

.hero-image img{
width:250px;
border-radius:50%;
}

/* SECTIONS */

section{
padding:40px;
margin:20px;
background:white;
border-radius:10px;
}

/* PROJECT CARDS */

.project{
background:#eee;
padding:20px;
margin-top:15px;
border-radius:8px;
}

/* SKILLS */

ul{
list-style:none;
padding:0;
}

li{
display:inline-block;
background:#ddd;
padding:8px;
margin:5px;
border-radius:5px;
}

/* FOOTER */

footer{
text-align:center;
background:#222;
color:white;
padding:20px;
margin-top:20px;
}